.editInput
{
    margin-top: 10px;
    width: 9vw;
    height: 7vh;
}
.editInput h4
{
    text-align: center;
}
.editInput form input
{
    width: 6vw;
    margin: auto;
}
.editButton
{
    height: 5vh;
}